<h1><%= @profile.full_name %>'s Profile</h1>

<%= image_tag @profile.avatar(:medium) %><br><br>

Username: <%= @profile.username %><br><br>
First Name: <%= @profile.fname %><br><br>
Last Name: <%= @profile.lname %><br><br>

<% if @profile.user_id == current_user.id %>

  <%= link_to("Edit Profile", edit_profile_path(@profile.id), method: :get )%><br><br>

  <% if @profile.fname == nil || @profile.lname == nil || @profile.username == nil %>
    <p>Please edit profile before adding boats</p>
  <% else %>
    <%= link_to("Add Boat", new_boat_path, method: :get) %>
  <% end %>

<% end %>

<h3>List of registered boats for <%= @profile.full_name %></h3>
<% if @profile.user.boats %>
  <ul>
    <% @profile.user.boats.each do |b| %>
      <li> <%= link_to("#{b.name}", boat_path(b.id), method: :get) %> </li>
        <ol>
          <% b.jobs.each do |j| %>
            <li> <%= link_to("#{j.name}", job_path(j.id), method: :get) %> </li>
          <% end %>
        </ol>
    <% end %>

  </ul>
<% end %>

<% if @profile.user_id == current_user.id %>

  <h3><%= followersLink %></h3>

<% end %>