<h1>JOB: <%= @job.name %></h1>

<h2>COST: <%= @job.cost %></h2>

<ul>
  <li>ORIGIN: <%= @job.origin %></li>
  <li>DESTINATION: <%= @job.destination %></li>
  <li>CONTAINERS NEEDED: <%= @job.ctn_need %></li>
  <li>CARGO DESCRIPTION: <%= @job.cargo %></li>
</ul>

<% if @job.assignment_status == "Unassigned" %>
  <%= form_for @job, url: "/assign_job/#{@job.id}", method: :put do |j| %>
    
    <%= j.label "Boat Name" %>

    <%= j.collection_select(:boat_id, @boats, :id, :name) %>

    <%= j.submit "Assign Job" %>

  <% end %>

<% else %>

  <h3>ASSIGNED TO: <%= @job.boat.name %></h3>

<% end %>