<h1>Boat Application</h1>
<% if @boat.errors.full_messages.any? %>
        <% @boat.errors.full_messages.each do |error_message| %><br/>
        <%= error_message %>
        <% end %>
      <% end %>

<%= form_for @boat do |f| %>
  <%= f.label :name, "Boat Name:" %>
  <%= f.text_field :name %>
    <br/>
  <%= f.label :capacity, "Max Capacity:" %>
  <%= f.text_field :capacity %>
    <br/>
  <%= f.label :cur_loc, "Current Location:" %>
  <%= f.text_field :cur_loc %>
    <br/>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Submit Boat" %>
<% end %>
