<!DOCTYPE html>
<html>
<head>
  <title>ShippingValidation</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <nav id="main_nav">
    <ul>
      <li><%= profilesLink %></li>
      <li><%= myProfileLink %></li>
      <li><%= jobsLink %></li>
      <li><%= logoutLink %></li>
    </ul>
  </nav>
<% end %>


<div id="main_div">
  <%= flash[:info] if flash[:info] %>
  <%= yield %>
</div>


</body>
</html>
