<!DOCTYPE html>
<html>
<head>
  <title>ShippingValidation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="main_nav">
  <ul>
    <% if user_signed_in? %>

      <li><%= myProfileLink %></li>
      <li><%= jobsLink %></li>
      <li><%= logoutLink %></li>
      
    <% end %>
  </ul>
</nav>

<div id="main_div">  
  <%= flash[:info] if flash[:info] %>
  <%= yield %>
</div>

</body>
</html>
